body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.menu, a{
    margin-right: 7px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    color:teal;
    font-weight: bold;
    border-bottom:1px solid black;
    box-shadow: 2px 2px 2px teal;
}
h3, .h3{
    margin-right: 49px;
}
h3{
    text-decoration: underline;
    padding-left: 230px;
}
h2{
    text-align: center;
}
.list2{
    display: flex;
    justify-content: center;
}
.i,li{
    list-style: none;
    margin-right: 50px;
}
.i{
    display: flex;
    padding-left: 18.5%;
}
#pied_dp{
    background-color: lightgray;
}

.g, img{
    width: 250px;
    height: 300px;
    display: flex;
    margin-left: 6%;
    margin-right: 50px;
}
.f, p{
    text-align: center;
}
.f {
    background-color: teal;
    padding-bottom: 100px;
    padding-top: 20px;
}
.c{
    background-color: lightgrey;
    padding: 50px;
}
#a1{
    padding-left: 37%;
    padding-top: 175px;
    width: 175px;
    height: 75px;
}
.a1{
    background-color: rgb(88, 85, 85);
    margin-left: 500px;
    width: 329px;
    height: 50px;
    padding-top: 22px;
    font-size: 21px;
}
#a11{
    width: 150px;
    height: 50px;
    padding-left: 38%;
}
.a{
    background-image: url('../media/image_de_fond.jpeg');
    width: 100%;
    height: 520px;
    color: white;
}
.b1{
    width: 50px;
    height: 50px;
    margin-right: 170px;
    padding: 40px;
    border-radius: 65px;
    border: 2px solid teal;
}
.b{
    display: flex;
    padding-left: 160px;
}
.bbis{
    display: flex;
}
#d{
    width: 125px;
    height: 125px;
    padding-left: 90px;
}
.d1{
    display: flex;
    height: 230px;
}
.d2{
    display: flex;
    height: 230px;
}
#d1{
    background-color:#127291 ;
    padding-right: 72px;
}
#d2{
    background-color: rgb(89, 212, 212);
    padding-right: 72px;
}
#d3{
    background-color: #819e5f;
    padding-right: 72px;
}
#d4{
    background-color: rgb(13, 197, 230);
    padding-right: 73px;
}
#d5{
    background-color: #a78462;
    padding-right: 72px;
}
#d6{
    background-color: rgb(245, 242, 242);
    padding-right: 72px;
}
#d7{
    background-color: #88c5a6;
    padding-right: 72px;
}
#d8{
    background-color: #79f39e;
    padding-right: 73px;
}
#d1, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d2, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d3, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d4, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d5, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d6, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d7, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
#d8, p{
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
}
.e1, .e1e{
    margin-left: 100px;
}
.e1, .e2e{
    margin-left: 90px;
}
.e1e{
    display: flex;
}
.e2e{
    display: flex;
}
#e11-range{
    width: 310px;
}
#e21-range{
    width: 310px;
}
#e11, label{
    display: flex;
}
.conteneur{
    width: 400px;
    background-color: #ddd;
}
.skill{
    text-align: right;
    color: white;
}
.pratique{
    width: 100%;
    background-color: teal;
}
.Opportunités{
    width: 90%;
    background-color: teal;
}
.bakelistes{
    width: 80%;
    background-color: teal;
}
.Suivi{
    width: 70%;
    background-color: teal;
}
.flotter{
    float: left;
    padding-left: 100px;
}
#flotter{
    float: right;
    padding-right: 200px;
}